MARIADB_IMAGE=mariadb:12.1.2
REDIS_IMAGE=redis:8.4.0

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app_password
POSTGRES_PORT=5432

MARIADB_DATABASE=app
MARIADB_USER=app
MARIADB_PASSWORD=app_password
MARIADB_ROOT_PASSWORD=root_password
MARIADB_PORT=3306

REDIS_PORT=6379
